# Groq API
GROQ_API_KEY=your_groq_api_key_here

# AWS Credentials (from AWS Learner Lab)
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_SESSION_TOKEN=your_session_token
AWS_DEFAULT_REGION=us-east-1

# S3
S3_BUCKET_NAME=accessiscan-reports

# DynamoDB
DYNAMODB_TABLE_NAME=AccessiScanResults

# App
FRONTEND_URL=http://localhost:5173
